body {
  background-color: #fffcf2;
}

.list_view_img {
  width: 200px;
  height: 200px;
}

.list_view {
  font-size: 4rem;
  font-family: "Rubik Scribble";
  text-align: center;
  color: #004b23;
}

h2 {
  font-family: "Itim";
  font-size: 1.8rem;
  color: #004b23;
}
.produkt_link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.product_article {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}

article:hover {
  transform: scale(1.3);
  border: 1px black solid;
  border-radius: 10px;
}

.product_list_div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 5%;
  gap: 50px;
  text-align: center;
}

.p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #004b23;
}

@media (min-width: 800px) {
  .product_list_div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
